@page
@model App.Areas.Homes.Pages.Features.CreateFeatureModel
@{ ViewData["Title"] = "Add a Feature"; }

<p><a class="btn btn-sm btn-light btn-back-arrow" asp-page="./Index">Back</a></p>

<div class="p-2">
    <h4>Adding a new feature to "@Model.FeatureCategory.Title"</h4>
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row pt-4">
            <div class="form-group col-4">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Save Feature</button>
        </div>
    </form>
</div>
