@page
@model App.Areas.Homes.Pages.Features.EditFeatureLevelModel
@{ ViewData["Title"] = "Edit Feature Level"; }

<p><a class="btn btn-sm btn-light btn-back-arrow" asp-page="./EditFeature" asp-route-id="@Model.FeatureId">Back</a></p>

<div class="p-2">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group pt-4">
            <label asp-for="Title" class="control-label h4"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group pt-4">
            <button class="btn btn-primary">Save Changes</button>
            <a class="btn btn-danger" asp-page="./DeleteFeatureLevel" asp-route-id="@Model.Id">Delete</a>
        </div>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="FeatureId" />
    </form>
</div>
