@page
@model App.Areas.Homes.Pages.Detail.IndexModel
@{ ViewData["Title"] = "Details"; }

<p><a class="btn btn-sm btn-light btn-outline-secondary btn-back-arrow" asp-area="Homes" asp-page="/Home/Index">Back to Homes</a></p>

<div class="p-2">
    @if (Model.Categories.Any()) {
        <div class="row">
            <div class="col-6"></div>
            @foreach (var user in Model.Users) {
                <div class="col text-center"><h4>@user.FirstName</h4></div>
            }
        </div>
    }

    @foreach (var category in Model.Categories) {
        <div>
            <h5>@category.Title</h5>
            
            @foreach (var detail in category.Details) {
                <div class="row">
                    <h6 class="col">@detail.Title</h6>
                    @foreach (var weight in detail.Weights) {
                        <div class="col"><input type="text" name="user@(weight.UserId)detail@(weight.DetailId)" value="@weight.Value" /></div>
                    }
                </div>
            }
        </div>
    }

    <p>
        <a class="btn btn-primary" asp-area="Homes" asp-page="/DetailCategory/Create">Add a Category</a>
        <a class="btn btn-primary" asp-area="Homes" asp-page="/Detail/Create">Add a Detail</a>
    </p>
</div>