@page
@model App.Areas.Admin.Pages.CreateSecurityRoleModel
@{ ViewData["Title"] = "Add a Security Role"; }

<p><a class="btn btn-sm btn-light btn-back-arrow" asp-page="./Index">Back</a></p>

<div class="p-2">
    <h4>Adding a Security Role</h4>
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row mt-4">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Add Security Role</button>
        </div>
    </form>
</div>
