@page
@model App.Areas.Admin.Pages.IndexModel

<div>
    <h2>Family Administration</h2>

    <hr />

    <h4>Users</h4>
    @foreach (var user in Model.Users) {
        <p class="h5 pl-3"><a asp-page="./EditUser" asp-route-id="@user.Id">@user.Name</a></p>
    }

    <hr />

    <h4>Security Roles</h4>
    @foreach (var securityRole in Model.SecurityRoles) {
        <p class="h5 pl-3"><a asp-page="./EditSecurityRole" asp-route-id="@securityRole.Id">@securityRole.Title</a></p>
    }
    <p><a class="btn btn-primary" asp-page="./CreateSecurityRole">Add a Security Role</a></p>
</div>