@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <p><img class="limit-width" src="~/images/coat_of_arms.png" title="Yarbro" alt="Coat of Arms" /></p>
</div>
