@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <p><img class="limit-width" src="~/images/coat_of_arms.png" title="Yarbro" alt="Coat of Arms" /></p>
    <p class="text-uppercase h1" style="font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif">Non est sine pulvere palma</p>
    <p class="text-uppercase h5" style="font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif">The prize is not won without dust</p>
</div>

<footer class="text-center fixed-bottom text-light">v@(Program.Version)</footer>