@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="h-100 text-center" style="border: 1px solid red;">
    <p><img src="~/images/coat_of_arms.png" title="Yarbro" alt="Coat of Arms" /></p>
</div>
