@page
@model App.Areas.Homes.Pages.CreatePreferenceModel
@{ ViewData["Title"] = "Add a Preference"; }

<p><a class="btn btn-sm btn-light btn-back-arrow" asp-page="./Index">Back</a></p>

<div class="p-2">
    <h4>Adding a new preference to "@Model.Category.Title"</h4>
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row pt-4">
            <div class="form-group col-4">
                <label asp-for="Input.Title" class="control-label"></label>
                <input asp-for="Input.Title" class="form-control" />
                <span asp-validation-for="Input.Title" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Add Preference</button>
        </div>
        <input type="hidden" asp-for="Category.Id" />
    </form>
</div>
