@inject IAuthorizationService Auth
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="shortcut icon" href="~/images/favicon.png" asp-append-version="true">
    <link rel="icon" href="~/images/favicon.png" type="image/png" asp-append-version="true">

    <title>@ViewData["Title"] - Yarbro Family</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/mdbootstrap/css/mdb.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item pr-3">
                            <a href="/">
                                <img src="~/images/coat_of_arms.png" style="height: 35px" />
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="HomeReviews" asp-page="/Index">Homes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="HomeReviews" asp-page="/UserPreferences">My Preferences</a>
                        </li>
                        @if (await Auth.IsParent(User)) {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="HomeReviews" asp-page="Preferences">All Preferences</a>
                            </li>
                        }
                        @if (await Auth.IsAdmin(User)) {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Admin" asp-page="Index">Admin</a>
                            </li>
                        }
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut">Sign Out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/mdbootstrap/js/mdb.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
