@page
@model App.Areas.Homes.Pages.Home.IndexModel
@{ ViewData["Title"] = "Homes"; }

<div class="p-2">
    @if (Model.Homes.Any()) {
    <h4>@ViewData["Title"]</h4>
    
    <dl class="row pt-3">
        <dt class="col-10">@Html.DisplayNameFor(model => model.Homes[0].Address)</dt>
        <dt class="col-2">Score</dt>
    </dl>
    }
    
    @foreach (var item in Model.Homes) {
    <dl class="row">
        <dd class="col-10">
            <a asp-page="./Details" asp-route-id="@item.Id">@item.Address</a>
        </dd>
        <dt class="col-2">
            10
        </dt>
    </dl>
    }

    <p>
        <a class="btn btn-primary" asp-area="Homes" asp-page="/Home/Create">Add a Home</a>
    </p>
</div>