@page
@model App.Areas.Homes.Pages.Link.CreateModel
@{ ViewData["Title"] = "Add a Link"; }

<p><a class="btn btn-sm btn-light btn-back-arrow" asp-area="Homes" asp-page="/Home/Detail" asp-route-id="@Model.Home.Id">Back to Home</a></p>

<div class="p-2">
    <h4>Adding a link for @Model.Home.Address</h4>
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row mt-4">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <input asp-for="Home.Id" type="hidden" />
            <button class="btn btn-primary">Add Link</button>
        </div>
    </form>
</div>
